<!doctype html>
<html ng-app="Doggies">

<head>
    <title>Doggies!</title>
    <!-- Keeping the following line for a reference for the older version -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
    <!-- Much of this code was done using 1.6.10  -->
    <!-- Also used 1.2.9 for early version testing -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <!-- <script src="assets/javascript/doggies.js"></script> -->
    <script src="assets/javascript/config.js"></script>
    <script src="assets/javascript/doglist/doglist.module.js"></script>
    <script src="assets/javascript/doglist/doglist.component.js"></script>
    
    <!--  <link rel="stylesheet" type="text/css" href="assets/css/reset.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <!-- <div ng-controller="appl"> -->
    <h1>Doggies</h1>
<!--     <div ng-controller="DoggiesCtrl">
        <table class="table table-striped"> -->
            <!-- <tr ng-repeat="dogs.results"> -->
<!--                 <td>{{breed.text}}</td>
            </tr>
        </table>
    </div> -->

<div class='' ng-controller='controller'>

</div>


    <!-- <div ng-app="">
 
<p>Enter new breed here:</p>
<p>Name: <input type="text" ng-model="name"></p>
<p>{{name}}</p>
<button ng-click>Add dog</button>

</div> -->
</body>

</html>